<mat-drawer-container autosize *ngIf="loginPage == false; else elseBlock">
<mat-drawer #drawer mode="side" opened="false">
    <img src="../../../assets/logo.png" alt="logo">
    <ul class="list-unstyled menu">
        <li class="mt-5 m-4" *ngFor="let item of menu">
            <a routerLink="{{item.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: item.routerLinkActiveOptions }">
                <fa-icon [icon]="item.icon"></fa-icon> {{item.wording}}
            </a>
        </li>
    </ul>
</mat-drawer>
<mat-drawer-content>
    <div class="d-flex justify-content-between align-items-center">
        <svg (click)="drawer.toggle()" class="ham ham2" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
            <path
                    class="line top"
                    d="m 70,33 h -40 c -6.5909,0 -7.763966,-4.501509 -7.763966,-7.511428 0,-4.721448 3.376452,-9.583771 13.876919,-9.583771 14.786182,0 11.409257,14.896182 9.596449,21.970818 -1.812808,7.074636 -15.709402,12.124381 -15.709402,12.124381" />
            <path
                    class="line middle"
                    d="m 30,50 h 40" />
            <path
                    class="line bottom"
                    d="m 70,67 h -40 c -6.5909,0 -7.763966,4.501509 -7.763966,7.511428 0,4.721448 3.376452,9.583771 13.876919,9.583771 14.786182,0 11.409257,-14.896182 9.596449,-21.970818 -1.812808,-7.074636 -15.709402,-12.124381 -15.709402,-12.124381" />
        </svg>
        <div>
            <ul class="list-unstyled d-flex">
                <li class="mr-5 mt-3">
                    <a>
                        <em class="fa fa-bell-o"></em>
                    </a>
                </li>
                <li class="mr-5 mt-3">
                    <a>
                        <em class="fa fa-envelope-o"></em>
                    </a>
                </li>
                <li class="mr-5 mt-3">
                    <a>
                        <em class="fa fa-user-o"></em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-3 container">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-content>
</mat-drawer-container>
<ng-template #elseBlock>
    <router-outlet></router-outlet>
</ng-template>